#wrap-preload {
  top: 0;
  left: 0;
  z-index: 9999
  }
#preload {
  z-index: 1;
  width: 320px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
@media screen and (min-width:768px) {
  #preload{
      width: 420px;
  }
}
